
  .show{
    left: -900px;
    min-width: 299px;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

  .speech-bubble{
    position: absolute;
    max-width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.4rem double black;
    border-radius: 40px;
    
  
    .msg-itself{
      display: flex;
      justify-content: center;
      align-items: center;

      background: rgb(255, 243, 229);
      border-radius: 35px ;
      border: 0.1rem dotted black;
      max-width: 300px;
      padding: 20px;
      word-wrap: break-word;
      overflow-wrap: break-word;

      font-size: 1.3rem;

      text-align: center;

    }
  
  }

}

