.burger{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
  .burger-line{
    height: 1px;
    width: 30px;
    background-color: black;
    margin: 5px;
  }

  &:hover .burger-line{
    height: 3px;
    border-radius: 100%;
    background-color: rgb(70, 70, 70);
  }

  &:active .burger-line {
    background-color: rgb(158, 158, 158);
  }

}

