
:root{
  --pixel-size: 0.6;
  --move-time:1;
}

.character{
  position: relative;
  width: calc(4.79rem * var(--pixel-size));
  height: calc(6.4rem * var(--pixel-size));
  overflow: hidden;
}

.character-sprite-sheet{
  position: absolute;
  width: calc(20rem * var(--pixel-size));
  animation:  moveSpriteSheet steps(4) calc(0.5s * var(--move-time) )   infinite;
}

.shadow{
  position: absolute;
  width: calc(4rem * var(--pixel-size));
  height: calc(1rem * var(--pixel-size));
  top: calc(5.6rem * var(--pixel-size));
  left: calc(0.5rem * var(--pixel-size));
}

.pixelArt {
  image-rendering: pixelated;
}

@keyframes moveSpriteSheet {
  from {
    transform: translate3d(0%, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.stand{
  animation: none;
  transform: translate3d(-3rem, 0px, 0);
}

.right{
  top: -3.96rem;
  left: 0.3rem;
}

.left{
  top: -8rem;
  left: 0.1rem;
}

.up{
  left: -0.04rem;
  top: -12rem;
}