/* This code resets all the css settings for all the browsers */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* ================================================================ */






html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}





.topSection{
    flex-grow: 10;

}


/* this is the nav section */

nav{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top:40px;
    border-bottom: 2px solid #cccccc;
    
}


.navBarContainer{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: white;
    min-width: 960px;
    overflow: hidden;
}

.navBarContainer .navLinks {
    margin-top: 15px;
}



.logo{
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: box-shadow 0.4s;
    overflow: hidden;
}

.logo:hover {
    box-shadow: 0px -1px 2000px 6px black;
}


.logo h4{
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    cursor: pointer;
    overflow: hidden;
    transition: color 1s, box-shadow 1s;
}

.logo:hover h4{
    transition: color 1s, box-shadow 1s;
    box-shadow: 0px 2px 60px 1px,0px -2px 60px 1px ;
}

  


nav ul li{
    list-style: none;
    
}

nav ul li a{
    
    text-decoration: none;
    color:hsl(0, 0%, 46%);
    transition: color 0.5s, box-shadow 0.5s;
    
}



nav ul li a:hover{
    background: transparent;
    cursor: pointer;
    background: none;
    text-decoration: underline;
    color:hsl(128, 95%, 22%);
    box-shadow: 30px 0px 150px 24px black;
    transform: scale(1.1);
}



.navLinks p:active{
    transform: scale(0.9);
}


nav ul {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-right: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
}


nav ul div{
    width: 1px;
    height: 20px;
    background-color: gray;
}




/* this is the body/content section */

.middle{
    background-image: url("../image/background.png");
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    overflow: hidden;
}


.middle article{
    background: white;
    margin-top: 30px;
    width: 960px;
    border: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left:30px;
    padding-right: 30px;
}

.middle article h1{
    font-size: 40px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 15px;
}


.seperator{
    background-color: #cccccc;
    border-radius: 50px;
    height: 3px;
    width: 100%;
    margin-bottom: 25px;
}

.content img{
    width: 250px;
    float: left;
    margin-right: 20px;
    transition: transform 1s, box-shadow 1s;
}

.content img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 100px 2px black;
}


.content p{
    line-height: 30px;
    margin-bottom: 25px;
}






/* this is the footer */
footer{
    background-color: #666666;
    height: 100px;
    color:white;
    border-top: 4px solid #4aaaa5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

footer p{
    box-sizing: border-box;
    position: relative;
    bottom:5px;
    padding-top: 80px;
}



@media screen and (max-width: 972px ){

.navBarContainer{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: white;
    min-width: 700px;
}


.middle article{
    background: white;
    margin-top: 30px;
    width: 700px;
    border: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left:30px;
    padding-right: 30px;
}

}



@media screen and (max-width: 719px ){


    .navBarContainer{
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: white;
        
    }
    
    nav{
        margin-top: 0px;
        overflow-x:hidden;
    }

    h4{
        line-height: 300px;
    }

    .logo{
        width: 719px;
        text;
        background-color: #4aaaa5;
        font-family: 'Georgia', Times, 'Times New Roman', serif;
        display: flex;
        justify-content: center;
        overflow: hidden;
        z-index: 10;
    
    }

    .logo:hover{
        box-shadow: none;
    }


    nav ul {
        display: flex;
        justify-content: none;
        align-items: none;
        position: relative;
        left: 200px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
    }

    .middle article{
        background: white;
        margin-top: 30px;
        width: 500px;
        border: 1px solid #cccccc;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-left:30px;
        padding-right: 30px;
    }
    
    }
    
    
    @media screen and (max-width: 450px){

        nav{
            overflow-x: hidden; 
        }


        .middle article{
            width: 360px;
        }

        .content p:nth-child(2){
            position: relative;
            top: 10px;
        }
    }


