*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* this is the background */
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #ba7453, #d1a984);
    z-index: -1;
}

nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color:white;
    align-items: center;
}



#logo{
    grid-column: 2/3;
}


 /* this is the burger section */
.burger{
    /* set burger size */
    width: 30px;
    height: 30px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-self: end;
}

.burger .line{
    /* set burger color  */
    background-color: white;
    width: 100%;
    height: 10%;
    border-radius: 10%;
}

#line2{
    width: 75%;
}

.burger #line3{
width: 50%;
}

/* +++++++++++++++++++++++++++++++++++ */



section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;

}

.hero{
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    height: 60%;
    width: 100%;
}


.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero h1{
    z-index: 3;
}

.hero::after{
    content: '';
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}


.headline{
    position: absolute;
    top:65%;
    left:20%;
    font-size: 100px;
    transform: translate(-20%, -70%);
    color:white;
}


