.nav{
  background-color: rgb(255, 249, 239);
  width: 100%;
  height: 70px;
  border-bottom: 1px solid black;
  position: relative;
  padding: 0px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
