body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 60%;


}

.ex{
    width: auto;
    height: auto;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-bottom: 10px;
}

