.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
}

img{
    width: 250px;
    height:250px;
    border: 2px solid #4aaaa5;
    margin: 10px;
    overflow: hidden;
    transition: border-radius 0.5s;
}

img:hover{
    border-radius: 18%;
}


.container .asli{
    transition: all 0.5s, box-shadow 1s;
}

.container .asli:hover{
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.507);
    border-radius: 20%;
}
.container .asli:active{
    transform: scale(0.9);
}
.container .asli:hover img{
    border-radius: 18%;
}

.label{
    width: 250px;
    height: 70px;
    background-color: #4aaaa5;
    z-index: 10;
    position: absolute;
    right: 12px;
    top: 160px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s, display 1s;    
}

.label:hover{
    color: rgba(238, 232, 170, 0);
    background-color: #4aaaa500;
}


.label:hover p{
    display: none;
}


.asli{
    position: relative;
    
}

@media screen and (max-width: 719px ){
    .container{
        justify-content: center;
        padding-bottom: 30px;
    }

}

